*{
    box-sizing: border-box;
}

div{
    border: 2px solid black;
    width: 30%;
    /* text-align: ; */
    /* display: grid; */
    /* align-items: ;
    justify-content: start; */
    
}
div p{
    width: 25%;
    /* display: none; */
}
h1{
    margin-top: 0%;
    background-color: grey;
}
/* .show{
    /* display: flex;
    justify-self: end; */
/* } 


